$primary: #ffff;
$font-color-primary: #042152;
$background-color: #0c1a3d;
$container-primary: #ffff;
$shadow: #5991cf61;
$btn: #0864ff;
$btn-hover: #0056b3;
$btn-active: #004080;
$input: #d2e3f6;
$error: #b22222;
$header: #0c1a3d;
$dislike: #f80000;
$header-shadow-color: #5991cf;
$border: #ccc;
$link: #007bff;
$link-active: #0056b3;
$info: #999
