@import '@constants/colors';

$header-height: 60px;
$side-menu-width: 250px;
$gap: 20px;
$horizontal-padding: 20px;
$vertical-padding: 20px;

body,
html {
  height: 100%;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 10;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: $header-height;
  margin-top: $vertical-padding;
  gap: $gap;

  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;

  .side-menu {
    width: $side-menu-width;
    background-color: #f8f9fa;
    padding: $vertical-padding;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: $vertical-padding;
  }

  .main-container {
    flex-grow: 1;
    max-width: 800px;
    margin-top: $vertical-padding;
    overflow: hidden;
  }

  .main {
    padding: 0%;
    margin-top: 0%;
    height: 100%;
    overflow-y: auto;
    align-items: flex-start;
  }
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 90%;
  height: auto;
  background-color: $container-primary;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px $shadow;
  z-index: 1000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
